.product-card {
  width: 220px;
  min-width: 220px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  padding: 16px;
  margin-right: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.top-section h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 6px 0;
  min-height: 40px;
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
}

.delivery {
  font-size: 12px;
  color: #6b6b6b;
  margin: 8px 0;
}

.product-card p {
  font-size: 13px;
  color: #777;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  height: 36px;
  min-height: 36px;
}

.price {
  font-weight: 600;
}

/* ADD button white by default */
.add-btn {
  background: #ffffff;
  color: #0c831f;
  border: 1px solid #0c831f;
  padding: 0 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  min-width: 80px;
  height: 36px;
  box-sizing: border-box;
  margin: 0;
}
.disabled-btn {
  opacity: 0.6;
}

.add-btn:hover {
  color: green;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0c831f;
  color: white;
  border-radius: 8px;
  min-width: 80px;
  height: 36px;
  box-sizing: border-box;
  margin: 0;
}

.counter button {
  width: 28px;
  background: transparent;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.counter span {
  flex: 1;
  text-align: center;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
}
